<%= form_for(@deal_email || DealEmail.new) do |f| %>

	<% if @deal_email && @deal_email.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@deal_email.errors.count, "error") %>.
      </div>
      <ul>
      <% @deal_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<%= f.label :link %><br />
  <%= f.text_field :link, :placeholder => "link to deal" %><br />

  <%= f.label :email %><br />
  <%= f.text_field :email, :placeholder => "your email address here" %><br />

  <%= f.submit "Email Me!", class: "btn btn-medium btn-primary" %>
  
<% end %>