<% if current_user %>
	<%= content_for(:head) do %>
		<%= current_user_name_tag(current_user) %>
	  <%= current_user_link_tag(current_user) %>
	  <%= current_klout_score_tag(current_user) %>
	<% end %>
<% end %>

<title>"Tweets"</title>

<h1>Tweets</h1>
<div id="tweets" data-json-url="<%= tweets_url(:format => :json) %>">
<% @tweets.each do |tweet| %>
  <%= render "tweet", mustache: tweet_for_mustache(tweet) %>
  <% if signed_in? %>
  	<%= link_to "Respond to tweet", new_tweet_response_path(tweet), :id => "tweet_response", :class => 'iframe btn btn-primary' %>
  <% else %>
  	<%= link_to "Login with Twitter to reply!", login_path, :class => "btn btn-medium btn-primary" %>
  <% end %>
  <%= render 'inline_form', :tweet => tweet %>
<% end %>
</div>

<script type="text/html" id="tweet_template">
  <%= render 'tweet' %>
</script>

<%= render 'sidebar_form' %>