<%= form_for(@deal_email) do |f| %>
	
	<% if @deal_email.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@deal_email.errors.count, "error") %>.
      </div>
      <ul>
      <% @deal_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :deal_id, :value => deal.id %>
	<%= f.hidden_field :link, :value => deal.link %>

  <%= f.text_field :email, :placeholder => "your email address here" %>

  <%= f.submit "Email me about this deal!", class: "btn btn-medium btn-primary" %>
  
<% end %>