<% if current_user %>
	<%= content_for(:head) do %>
		<%= current_user_name_tag(current_user) %>
	  <%= current_user_link_tag(current_user) %>
	  <%= current_klout_score_tag(current_user) %>
	<% end %>
<% end %>

<% include_javascript 'deals/deals.js.coffee' %>

<title>"Deals"</title>

<h1>Deals</h1>
<div id="deals" data-json-url="<%= deals_url(:format => :json) %>">
	<% @deals.each do |deal| %>
	  <%= render "deal", mustache: deal_for_mustache(deal) %>
	  <% deal.tweets.each do |tweet| %>
	  	<%= render "tweet", mustache: tweet_for_mustache(tweet) %>
		  <% if signed_in? %>
		  	<%= link_to "Respond to tweet", new_tweet_response_path(tweet), :id => "tweet_response", :class => 'iframe btn btn-primary' %>
		  <% else %>
		  	<%= link_to "Login with Twitter to reply!", login_path, :class => "btn btn-medium btn-primary" %>
		  <% end %>
		  </div>
		<% end %>
		<%= render 'inline_form', :deal => deal  %>
		</div>
	<% end %>
</div>

<script type="text/html" id="deal_template">
  <%= render 'deal' %>
</script>

<script type="text/html" id="tweet_template">
  <%= render 'tweet' %>
</script>

<script type="text/html" id="deal_form_template">
  <%= render 'deal_form' %>
</script>